

/*
    ---- FONTS -------------------------------------------------------------------------------------
*/
@font-face {
    font-family: "Source Sans";
    src: url("/fonts/sourcesanspro-regular-webfont.eot");
    src: url("/fonts/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("/fonts/sourcesanspro-regular-webfont.woff2") format("woff2"),
         url("/fonts/sourcesanspro-regular-webfont.woff") format("woff"),
         url("/fonts/sourcesanspro-regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Source Sans";
    src: url("/fonts/sourcesanspro-italic-webfont.eot");
    src: url("/fonts/sourcesanspro-italic-webfont.eot?#iefix") format("embedded-opentype"),
         url("/fonts/sourcesanspro-italic-webfont.woff2") format("woff2"),
         url("/fonts/sourcesanspro-italic-webfont.woff") format("woff"),
         url("/fonts/sourcesanspro-italic-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Source Sans";
    src: url("/fonts/sourcesanspro-bold-webfont.eot");
    src: url("/fonts/sourcesanspro-bold-webfont.eot?#iefix") format("embedded-opentype"),
         url("/fonts/sourcesanspro-bold-webfont.woff2") format("woff2"),
         url("/fonts/sourcesanspro-bold-webfont.woff") format("woff"),
         url("/fonts/sourcesanspro-bold-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Source Sans";
    src: url("/fonts/sourcesanspro-bolditalic-webfont.eot");
    src: url("/fonts/sourcesanspro-bolditalic-webfont.eot?#iefix") format("embedded-opentype"),
         url("/fonts/sourcesanspro-bolditalic-webfont.woff2") format("woff2"),
         url("/fonts/sourcesanspro-bolditalic-webfont.woff") format("woff"),
         url("/fonts/sourcesanspro-bolditalic-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Source Sans";
    src: url("/fonts/sourcesanspro-extralight-webfont.eot");
    src: url("/fonts/sourcesanspro-extralight-webfont.eot?#iefix") format("embedded-opentype"),
         url("/fonts/sourcesanspro-extralight-webfont.woff2") format("woff2"),
         url("/fonts/sourcesanspro-extralight-webfont.woff") format("woff"),
         url("/fonts/sourcesanspro-extralight-webfont.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Source Sans";
    src: url("/fonts/sourcesanspro-extralightitalic-webfont.eot");
    src: url("/fonts/sourcesanspro-extralightitalic-webfont.eot?#iefix") format("embedded-opentype"),
         url("/fonts/sourcesanspro-extralightitalic-webfont.woff2") format("woff2"),
         url("/fonts/sourcesanspro-extralightitalic-webfont.woff") format("woff"),
         url("/fonts/sourcesanspro-extralightitalic-webfont.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

/*
    ---- GLOBALS -----------------------------------------------------------------------------------
*/
body {
    font-family:    "Source Sans";
/*    background: url("/img/honeycomb.svg") #343434;*/
    background: #343434;
}

img.loading {
    position:   fixed;
    top:    50%;
    left:   50%;
}

/*
    ---- HEADER ------------------------------------------------------------------------------------
*/
header {
    text-align: right;
    background: url("/img/criss-cross.svg") darkorange;
    line-height:    0;
    border-bottom:  3px solid oldlace;
}
header img {
    padding: 5px 10px;
    background: #343434;
}

/*
    ---- COLUMNS -----------------------------------------------------------------------------------
*/
main {
    padding-top:    1rem;
}
.row {
    margin-right:   0;
}

/*
    ---- WIDGETS -----------------------------------------------------------------------------------
*/
.widget {
    background: #fff;
    border: 1px solid oldlace;
}
.widget h2 {
    font-weight:    normal;
    padding:    5px 10px 0 10px;
    margin: 0 0 10px 0;
    border-bottom:  1px solid darkorange;
}
.widget .content {
    height: 400px;
    overflow:   auto;
    padding:    0 10px 10px 10px;
}

/*
    ---- FORMS -------------------------------------------------------------------------------------
*/
.content label {
    display:    block;
}
.content input[type=text], .content input[type=password] {
    display:    block;
    width:  95%;
    margin-bottom:  10px;
}
.content .action {
    width:  95%;
    text-align: right;
}
