
@import "../node_modules/normalize.css/normalize.css";
@import "../node_modules/ungrid/ungrid.css";
.col {
    vertical-align: top;
}

/* fonts */

/* Extra-thin, used for headings */
@font-face {
    font-family: "Titillium";
    src: url("../fonts/titilliumweb-extralight-webfont.eot");
    src: url("../fonts/titilliumweb-extralight-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/titilliumweb-extralight-webfont.woff2") format("woff2"),
         url("../fonts/titilliumweb-extralight-webfont.woff") format("woff"),
         url("../fonts/titilliumweb-extralight-webfont.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

/* Light & light italic, used as regular */
@font-face {
    font-family: "Titillium";
    src: url("../fonts/titilliumweb-light-webfont.eot");
    src: url("../fonts/titilliumweb-light-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/titilliumweb-light-webfont.woff2") format("woff2"),
         url("../fonts/titilliumweb-light-webfont.woff") format("woff"),
         url("../fonts/titilliumweb-light-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Titillium";
    src: url("../fonts/titilliumweb-lightitalic-webfont.eot");
    src: url("../fonts/titilliumweb-lightitalic-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/titilliumweb-lightitalic-webfont.woff2") format("woff2"),
         url("../fonts/titilliumweb-lightitalic-webfont.woff") format("woff"),
         url("../fonts/titilliumweb-lightitalic-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

/* Semibold & semibold italic, used as bold */
@font-face {
    font-family: "Titillium";
    src: url("../fonts/titilliumweb-semibold-webfont.eot");
    src: url("../fonts/titilliumweb-semibold-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/titilliumweb-semibold-webfont.woff2") format("woff2"),
         url("../fonts/titilliumweb-semibold-webfont.woff") format("woff"),
         url("../fonts/titilliumweb-semibold-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Titillium";
    src: url("../fonts/titilliumweb-semibolditalic-webfont.eot");
    src: url("../fonts/titilliumweb-semibolditalic-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/titilliumweb-semibolditalic-webfont.woff2") format("woff2"),
         url("../fonts/titilliumweb-semibolditalic-webfont.woff") format("woff"),
         url("../fonts/titilliumweb-semibolditalic-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}


html, body {
    width:  100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family:  Titillium;
}
header {
    border-bottom:  1px solid silver;
    padding: 0 0 0 10px;
}
h1, div.app-body {
    margin: 0 30px;
}
h1 {
    color: #f1647c;
    font-size:  50px;
    font-weight:    300;
    padding:    0 0 0 10px;
}
h2 {
    font-weight:    300;
    font-size:  30px;
    margin-bottom:  10px;
}
a {
    color:  #f1647c;
    text-decoration:    underline #84df5d;
}
a:hover {
    color:  #84df5d;
    text-decoration:    underline #f1647c;
}

/*.col.nav {
    width:  200px;
    padding:    0 10px;
}
*/

/* forms */
.formline {
    width:  auto;
    padding-bottom: 10px;
}
.formline label {
    display:    block;
    font-weight:    bold;
}
.formline.actions {
    text-align: right;
}


/* ui */
.spinner {
    padding:    20px;
    text-align: center;
}
th {
    text-align: left;
}
th, td {
    padding:    5px;
    vertical-align: top;
}
tr {
    border-bottom:  1px solid silver;
}
tbody tr:nth-of-type(even) {
    background: #eee;
}
td > ul {
    margin: 0;
    padding-left:   20px;
}
button, a.button {
    background: #f1647c;
    border: none;
    border-radius:  5px;
    color:  #fff;
    text-decoration:    none;
    padding:    0 5px;
}
button:disabled {
    background: silver;
    color:  #333;
}
.flash-list {
    margin-left:    230px;
}
.flash-list button {
    position:   absolute;
    top:    10px;
    right:  10px;
    color:  #fff;
}
.flash-list p {
    margin: 0;
}
.flash-success, .flash-error {
    border-radius:  5px;
    padding:    20px;
    margin-top:  10px;
    position:   relative;
}
.flash-success {
    border: 1px solid #84df5d;
}
.flash-error {
    border: 1px solid #df5d5d;
}
.flash-success button {
    background: #84df5d;
}
.flash-error button {
    background: #df5d5d;
}
.flash-list p .repeat {
    border-radius:5px;
    color: white;
    background-color: #F1647C;
    padding-left: 5px;
    padding-right: 5px;
}
.good {
    color:  green;
}
.bad {
    color:  red;
}
td.good, td.bad {
    font-weight:    bold;
}

/* login */
.login-box {
    max-width:  350px;
    border: 1px solid silver;
    padding:    10px 20px;
    margin: 50px auto;
}

/* toolbar */
.toolbar {
    text-align: right;
}
.toolbar button {
    color:  #f1647c;
    padding:    5px 10px;
    text-decoration:    none;
    cursor: pointer;
    background: transparent;
    border: none;
    border-radius:  0;
    font:   inherit;
    border-right:   1px solid #f1647c;
}
.toolbar button:last-of-type {
    border-right:   none;
}
.toolbar button:hover {
    text-decoration:    underline;
}
.toolbar button:active {
    font-weight:    bold;
}

.prefs {
    text-align: left;
    border: 1px solid silver;
    margin-bottom:  30px;
}
.prefs h2 {
    font-size: 24px;
    margin: 0 10px;
}
.prefs .filter {
    display:    inline-block;
    width:  200px;
    height: 100px;
    border: 1px solid #f1647c;
    margin: 10px;
    vertical-align: top;
}
.prefs .filter h3 {
    margin: 5px;
}
.prefs .filter h3 input {
    margin-right: 10px;
}
.prefs .filter p {
    margin: 0 0 0 25px;
}

/* columns */
.mbx-list {
    width:  250px;
    border-top: 1px solid silver;
}


/* mailbox style */
.mbx-list ul {
    list-style-type:    none;
    margin: 0;
    padding:    0;
}
.mbx-list button {
    display:    block;
    width:  100%;
    text-align: left;
    border-radius:  0;
    padding:    10px;
    border: 1px solid silver;
    border-top: none;
    border-bottom-color:    #f1647c;
    background: #fff;
    color:  #000;
}
.mbx-list li:last-of-type button {
    border-bottom-color:    silver;
}
.mbx-list button:hover {
    background: #f1647c;
    color:  #fff;
}
.mbx-list li.selected button {
    font-weight:    bold;
    color:  #f1647c;
    background: #eee;
    border-left:   5px solid #f1647c;
    padding-left:   5px;
}
.mbx-list button .pill {
    font-size:  10px;
    font-weight:    bold;
    color:  #fff;
    background: #f1647c;
    border-radius:  50%;
    padding:    2px 5px;
}
.mbx-list button:hover .pill {
    color:  #f1647c;
    background: #fff;
}
.mbx-list p {
    padding:    10px;
    border-bottom:  1px solid silver;
}

.messages {
    padding:    0 30px;
}
.messages .meta {
    text-align: right;
    background: rgba(240,240,240,0.5);
    padding:    5px 10px 2px 10px;
    margin-bottom:  10px;
}
.messages .message {
    border-bottom:  1px solid silver;
    margin-bottom:  50px;
}

.email-hidden-toggle {
    display:    none;
}
.gh-user {
    font-weight:    bold;
}
.message .content {
    border-left:    10px solid silver;
    padding-left:   20px;
}
.message .content ul {
    padding-left:   10px;
}
.message .content blockquote {
    font-style: italic;
}

.message .label {
    padding: 2px 4px;
    border-radius: 2px;
    box-shadow: 0 -1px 0 rgba(0,0,0, 0.12) inset;
    box-sizing: border-box;
}

.gh-user img {
    vertical-align: middle;
    border-radius: 3px;
}