

/*
    ---- FONTS -------------------------------------------------------------------------------------
*/
@font-face {
    font-family: "Source Sans";
    src: url("sourcesanspro-regular-webfont.eot");
    src: url("sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("sourcesanspro-regular-webfont.woff2") format("woff2"),
         url("sourcesanspro-regular-webfont.woff") format("woff"),
         url("sourcesanspro-regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Source Sans";
    src: url("sourcesanspro-italic-webfont.eot");
    src: url("sourcesanspro-italic-webfont.eot?#iefix") format("embedded-opentype"),
         url("sourcesanspro-italic-webfont.woff2") format("woff2"),
         url("sourcesanspro-italic-webfont.woff") format("woff"),
         url("sourcesanspro-italic-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Source Sans";
    src: url("sourcesanspro-bold-webfont.eot");
    src: url("sourcesanspro-bold-webfont.eot?#iefix") format("embedded-opentype"),
         url("sourcesanspro-bold-webfont.woff2") format("woff2"),
         url("sourcesanspro-bold-webfont.woff") format("woff"),
         url("sourcesanspro-bold-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Source Sans";
    src: url("sourcesanspro-bolditalic-webfont.eot");
    src: url("sourcesanspro-bolditalic-webfont.eot?#iefix") format("embedded-opentype"),
         url("sourcesanspro-bolditalic-webfont.woff2") format("woff2"),
         url("sourcesanspro-bolditalic-webfont.woff") format("woff"),
         url("sourcesanspro-bolditalic-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Source Sans";
    src: url("sourcesanspro-extralight-webfont.eot");
    src: url("sourcesanspro-extralight-webfont.eot?#iefix") format("embedded-opentype"),
         url("sourcesanspro-extralight-webfont.woff2") format("woff2"),
         url("sourcesanspro-extralight-webfont.woff") format("woff"),
         url("sourcesanspro-extralight-webfont.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Source Sans";
    src: url("sourcesanspro-extralightitalic-webfont.eot");
    src: url("sourcesanspro-extralightitalic-webfont.eot?#iefix") format("embedded-opentype"),
         url("sourcesanspro-extralightitalic-webfont.woff2") format("woff2"),
         url("sourcesanspro-extralightitalic-webfont.woff") format("woff"),
         url("sourcesanspro-extralightitalic-webfont.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

