<p>
  Log into the dashboard using your regular W3C credentials.
</p>
<form>
  <label for="login-id">Username:</label>
  <input type="text" id="login-id" name="id" value="{{ id }}">
  <label for="login-password">Password:</label>
  <input type="password" id="login-password" name="password" value="{{ password }}">
  <div class="action">
    <input type="submit" value="Login">
  </div>
</form>

